#board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    
}

.cell {
    position: relative;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    position: absolute; 
    width: 100%;
    height: 100%;
    top: 0; 
    left: 0; 
    bottom: 0; 
    z-index: -1; 

}

.even{
    background-color: #15803d;
    color: white;
    font-weight: bold;
}
.odd{
    background-color: whitesmoke;
    color: #000;
    font-weight: bold;
}

.player-marker {

    width: 80%; /* Occupy full width of the cell */
    height: 80%; /* Occupy full height of the cell */
}

@media screen and (max-width:767px) {
    #board{
        width: 80vw;
        height: 50vh;
    }
}

@media screen and (min-width:768px) {
    #board{
        width: 500px;
        height: 500px;
    }
}
